$foreground: #f8f8f2;
$foreground-disabled: #44475a;
$background: #282a36;
$background2: #303241;
$background2-bottom: #21222c;
$background3: #44475a;
$background3-bottom: #383a59;
$background4: #44475a;
$background4-bottom: #383a59;
$window-border: #8be9fd;
$window-border-inactive: #282a36;
$close-button: #ff5555;
$close-button-bottom: #ff5555;
$close-button-foreground: #282a36;
$powermenu-button: #e06c75;
$powermenu-button-bottom: #a14044;
$powermenu-button-foreground: #282c34;
$slider: #8be9fd;
$metric-slider: #8be9fd;
$metric-slider-background: #44475a;
$metric-slider-foreground: #8be9fd;
$button: #8be9fd;
$button-bottom: #70d3e6;
$button-active: #a6f0ff;
$button-bottom-active: #8be9fd;
$button-hover: #9aefff;
$button-bottom-hover: #7fd8e6;
$button-foreground: #282828;
$cc-bg: #282a36;
$noti-border-color: #8be9fd;
$noti-border-color-critical: #ff5555;
$noti-bg: #282a36;
$noti-bg-darker: #282a36;
$noti-bg-hover: #282a36;
$noti-close-bg: #44475a;
$noti-close-bg-hover: #ff5555;
$dnd-bg: #44475a;
$dnd-selected: #8be9fd;
$dnd-dot: #303241;
$noti-button: #303241;
$noti-button-hover: #44475a;
$waybar-module-foreground: #282a36;
$waybar-clock: #f1fa8c;
$waybar-clock-bottom: #e2ec7a;
$waybar-battery: #8be9fd;
$waybar-battery-bottom: #70d3e6;
$waybar-battery-critical: #ff5555;
$waybar-battery-bottom-critical: #ff5555;
$waybar-cpu: #8be9fd;
$waybar-cpu-bottom: #70d3e6;
$waybar-memory: #bd93f9;
$waybar-memory-bottom: #a982e6;
$waybar-backlight: #8be9fd;
$waybar-backlight-bottom: #70d3e6;
$waybar-pulseaudio: #ffb86c;
$waybar-pulseaudio-bottom: #e6a35d;
$waybar-tray: #ff79c6;
$waybar-tray-bottom: #e868b4;
$terminal-black: #21222c;
$terminal-black-bright: #282a36;
$terminal-red: #ff5555;
$terminal-red-bright: #ff6e6e;
$terminal-green: #50fa7b;
$terminal-green-bright: #69ff94;
$terminal-yellow: #f1fa8c;
$terminal-yellow-bright: #ffffa5;
$terminal-blue: #6272a4;
$terminal-blue-bright: #7082b6;
$terminal-magenta: #bd93f9;
$terminal-magenta-bright: #d6aaff;
$terminal-cyan: #8be9fd;
$terminal-cyan-bright: #a6f0ff;
$terminal-white: #f8f8f2;
$terminal-white-bright: #ffffff;
