$foreground: #abb2bf;
$foreground-disabled: #5c6370;
$background: #282c34;
$background2: #2c3039;
$background2-bottom: #21252b;
$background3: #3e4451;
$background3-bottom: #323742;
$background4: #3e4451;
$background4-bottom: #323742;
$window-border: #56b6c2;
$window-border-inactive: #282c34;
$close-button: #e06c75;
$close-button-bottom: #be5046;
$close-button-foreground: #282c34;
$powermenu-button: #e06c75;
$powermenu-button-bottom: #be5046;
$powermenu-button-foreground: #282c34;
$slider: #56b6c2;
$metric-slider: #56b6c2;
$metric-slider-background: #3e4451;
$metric-slider-foreground: #56b6c2;
$button: #56b6c2;
$button-bottom: #3ea6b0;
$button-active: #6bdbe4;
$button-bottom-active: #56b6c2;
$button-hover: #6bc8da;
$button-bottom-hover: #4db0b9;
$button-foreground: #282828;
$cc-bg: #282c34;
$noti-border-color: #56b6c2;
$noti-border-color-critical: #e06c75;
$noti-bg: #282c34;
$noti-bg-darker: #282c34;
$noti-bg-hover: #282c34;
$noti-close-bg: #3e4451;
$noti-close-bg-hover: #e06c75;
$dnd-bg: #3e4451;
$dnd-selected: #56b6c2;
$dnd-dot: #2c3039;
$noti-button: #2c3039;
$noti-button-hover: #3e4451;
$waybar-module-foreground: #282c34;
$waybar-clock: #e5c07b;
$waybar-clock-bottom: #c9a34d;
$waybar-battery: #56b6c2;
$waybar-battery-bottom: #3ea6b0;
$waybar-battery-critical: #e06c75;
$waybar-battery-bottom-critical: #be5046;
$waybar-cpu: #56b6c2;
$waybar-cpu-bottom: #3ea6b0;
$waybar-memory: #c678dd;
$waybar-memory-bottom: #b07cc8;
$waybar-backlight: #56b6c2;
$waybar-backlight-bottom: #3ea6b0;
$waybar-pulseaudio: #d19a66;
$waybar-pulseaudio-bottom: #b07c4d;
$waybar-tray: #e5c07b;
$waybar-tray-bottom: #c9a34d;
$terminal-black: #21252b;
$terminal-black-bright: #282c34;
$terminal-red: #e06c75;
$terminal-red-bright: #f28b82;
$terminal-green: #98c379;
$terminal-green-bright: #b4e07d;
$terminal-yellow: #e5c07b;
$terminal-yellow-bright: #ffdd92;
$terminal-blue: #61afef;
$terminal-blue-bright: #7bc4f8;
$terminal-magenta: #c678dd;
$terminal-magenta-bright: #dda6f3;
$terminal-cyan: #56b6c2;
$terminal-cyan-bright: #6bdbe4;
$terminal-white: #abb2bf;
$terminal-white-bright: #ffffff;
