@use "../variables" as vars;
@use "sass:color";
@use "../functions" as fun;

.appLauncher {
  padding: 2px;

  .appButton {
    margin: 2px 8px 0 8px;
    padding: 8px;
    background-color: transparent;
    border-radius: vars.$buttonBorderRadius;
    @include fun.hoverLighten(vars.$bg);

    label.name {
      font-weight: bold;
      color: vars.$fg;
    }
  }

  .selectedAppButton {
    margin: 2px 8px 0 8px;
    padding: 8px;
    background-color: vars.$primary;
    border-radius: vars.$buttonBorderRadius;

    label.name {
      font-weight: bold;
      color: vars.$fg;
    }
  }

  .searchField {
    margin: 4px;
    box-shadow: none;
    background-color: transparent;
  }

  .searchIcon {
    color: vars.$fg;
    padding: 4px 4px 4px 2px;
    border: none;
    min-height: 25px;
    min-width: 30px;
  }
}