@use "../variables" as vars;
@use "sass:color";
@use "../functions" as fun;

.barMenuForeground {
  color: vars.$barMenuForeground;
}

.barMenuBackground {
  background-color: vars.$barMenuBackground;
  border-radius: vars.$barMenuBorderRadius;
  border-width: vars.$barMenuBorderWidth;
  border-color: vars.$barMenuBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barMenuBackground);
}

.barWorkspacesForeground {
  color: vars.$barWorkspacesForeground;
}

.barWorkspacesInactiveForeground {
  color: vars.$barWorkspacesInactiveForeground;
}

.barWorkspacesBackground {
  background-color: vars.$barWorkspacesBackground;
  border-radius: vars.$barWorkspacesBorderRadius;
  border-width: vars.$barWorkspacesBorderWidth;
  border-color: vars.$barWorkspacesBorderColor;
  border-style: solid;
}

.barWorkspaceButtonBackground {
  background-color: transparent;
  @include fun.hoverLighten(vars.$barWorkspacesBackground);
}

.barClockForeground {
  color: vars.$barClockForeground;
}

.barClockBackground {
  background-color: vars.$barClockBackground;
  border-radius: vars.$barClockBorderRadius;
  border-width: vars.$barClockBorderWidth;
  border-color: vars.$barClockBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barClockBackground);
}

.barAudioOutForeground {
  color: vars.$barAudioOutForeground;
}

.barAudioOutBackground {
  background-color: vars.$barAudioOutBackground;
  border-radius: vars.$barAudioOutBorderRadius;
  border-width: vars.$barAudioOutBorderWidth;
  border-color: vars.$barAudioOutBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barAudioOutBackground);
}

.barAudioInForeground {
  color: vars.$barAudioInForeground;
}

.barAudioInBackground {
  background-color: vars.$barAudioInBackground;
  border-radius: vars.$barAudioInBorderRadius;
  border-width: vars.$barAudioInBorderWidth;
  border-color: vars.$barAudioInBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barAudioInBackground);
}

.barBluetoothForeground {
  color: vars.$barBluetoothForeground;
}

.barBluetoothBackground {
  background-color: vars.$barBluetoothBackground;
  border-radius: vars.$barBluetoothBorderRadius;
  border-width: vars.$barBluetoothBorderWidth;
  border-color: vars.$barBluetoothBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barBluetoothBackground);
}

.barNetworkForeground {
  color: vars.$barNetworkForeground;
}

.barNetworkBackground {
  background-color: vars.$barNetworkBackground;
  border-radius: vars.$barNetworkBorderRadius;
  border-width: vars.$barNetworkBorderWidth;
  border-color: vars.$barNetworkBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barNetworkBackground);
}

.barRecordingIndicatorForeground {
  color: vars.$barRecordingIndicatorForeground;
}

.barRecordingIndicatorBackground {
  background-color: vars.$barRecordingIndicatorBackground;
  border-radius: vars.$barRecordingIndicatorBorderRadius;
  border-width: vars.$barRecordingIndicatorBorderWidth;
  border-color: vars.$barRecordingIndicatorBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barRecordingIndicatorBackground);
}

.barVpnIndicatorForeground {
  color: vars.$barVpnIndicatorForeground;
}

.barVpnIndicatorBackground {
  background-color: vars.$barVpnIndicatorBackground;
  border-radius: vars.$barVpnIndicatorBorderRadius;
  border-width: vars.$barVpnIndicatorBorderWidth;
  border-color: vars.$barVpnIndicatorBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barVpnIndicatorBackground);
}

.barBatteryForeground {
  color: vars.$barBatteryForeground;
}

.barBatteryBackground {
  background-color: vars.$barBatteryBackground;
  border-radius: vars.$barBatteryBorderRadius;
  border-width: vars.$barBatteryBorderWidth;
  border-color: vars.$barBatteryBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barBatteryBackground);
}

.barTrayForeground {
  color: vars.$barTrayForeground;
}

.barTrayBackground {
  background-color: vars.$barTrayBackground;
  border-radius: vars.$barTrayBorderRadius;
  border-width: vars.$barTrayBorderWidth;
  border-color: vars.$barTrayBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barTrayBackground);
}

.barAppLauncherForeground {
  color: vars.$barAppLauncherForeground;
}

.barAppLauncherBackground {
  background-color: vars.$barAppLauncherBackground;
  border-radius: vars.$barAppLauncherBorderRadius;
  border-width: vars.$barAppLauncherBorderWidth;
  border-color: vars.$barAppLauncherBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barAppLauncherBackground);
}

.barScreenshotForeground {
  color: vars.$barScreenshotForeground;
}

.barScreenshotBackground {
  background-color: vars.$barScreenshotBackground;
  border-radius: vars.$barScreenshotBorderRadius;
  border-width: vars.$barScreenshotBorderWidth;
  border-color: vars.$barScreenshotBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barScreenshotBackground);
}

.barClipboardManagerForeground {
  color: vars.$barClipboardManagerForeground;
}

.barClipboardManagerBackground {
  background-color: vars.$barClipboardManagerBackground;
  border-radius: vars.$barClipboardManagerBorderRadius;
  border-width: vars.$barClipboardManagerBorderWidth;
  border-color: vars.$barClipboardManagerBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barClipboardManagerBackground);
}

.barPowerProfileForeground {
  color: vars.$barPowerProfileForeground;
}

.barPowerProfileBackground {
  background-color: vars.$barPowerProfileBackground;
  border-radius: vars.$barPowerProfileBorderRadius;
  border-width: vars.$barPowerProfileBorderWidth;
  border-color: vars.$barPowerProfileBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barPowerProfileBackground);
}

.barCavaWaveformForeground {
  color: vars.$barCavaWaveformForeground;
}

.barCavaWaveformBackground {
  background-color: vars.$barCavaWaveformBackground;
  border-radius: vars.$barCavaWaveformBorderRadius;
  border-width: vars.$barCavaWaveformBorderWidth;
  border-color: vars.$barCavaWaveformBorderColor;
  border-style: solid;
}

.barMprisControlsForeground {
  color: vars.$barMprisControlsForeground;
}

.barMprisControlsButtonBackground {
  background-color: transparent;
  @include fun.hoverLighten(vars.$barMprisControlsBackground);
}

.barMprisControlsBackground {
  background-color: vars.$barMprisControlsBackground;
  border-radius: vars.$barMprisControlsBorderRadius;
  border-width: vars.$barMprisControlsBorderWidth;
  border-color: vars.$barMprisControlsBorderColor;
  border-style: solid;
}

.barMprisTrackInfoForeground {
  color: vars.$barMprisTrackInfoForeground;
}

.barMprisTrackInfoBackground {
  background-color: vars.$barMprisTrackInfoBackground;
  border-radius: vars.$barMprisTrackInfoBorderRadius;
  border-width: vars.$barMprisTrackInfoBorderWidth;
  border-color: vars.$barMprisTrackInfoBorderColor;
  border-style: solid;
}

.barMprisPrimaryPlayerSwitcherForeground {
  color: vars.$barMprisPrimaryPlayerSwitcherForeground;
}

.barMprisPrimaryPlayerSwitcherBackground {
  background-color: vars.$barMprisPrimaryPlayerSwitcherBackground;
  border-radius: vars.$barMprisPrimaryPlayerSwitcherBorderRadius;
  border-width: vars.$barMprisPrimaryPlayerSwitcherBorderWidth;
  border-color: vars.$barMprisPrimaryPlayerSwitcherBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barMprisPrimaryPlayerSwitcherBackground);
}

.barNotificationHistoryForeground {
  color: vars.$barNotificationHistoryForeground;
}

.barNotificationHistoryBackground {
  background-color: vars.$barNotificationHistoryBackground;
  border-radius: vars.$barNotificationHistoryBorderRadius;
  border-width: vars.$barNotificationHistoryBorderWidth;
  border-color: vars.$barNotificationHistoryBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barNotificationHistoryBackground);
}

.barColorPickerForeground {
  color: vars.$barColorPickerForeground;
}

.barColorPickerBackground {
  background-color: vars.$barColorPickerBackground;
  border-radius: vars.$barColorPickerBorderRadius;
  border-width: vars.$barColorPickerBorderWidth;
  border-color: vars.$barColorPickerBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barColorPickerBackground);
}

.barLogoutForeground {
  color: vars.$barLogoutForeground;
}

.barLogoutBackground {
  background-color: vars.$barLogoutBackground;
  border-radius: vars.$barLogoutBorderRadius;
  border-width: vars.$barLogoutBorderWidth;
  border-color: vars.$barLogoutBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barLogoutBackground);
}

.barLockForeground {
  color: vars.$barLockForeground;
}

.barLockBackground {
  background-color: vars.$barLockBackground;
  border-radius: vars.$barLockBorderRadius;
  border-width: vars.$barLockBorderWidth;
  border-color: vars.$barLockBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barLockBackground);
}

.barRestartForeground {
  color: vars.$barRestartForeground;
}

.barRestartBackground {
  background-color: vars.$barRestartBackground;
  border-radius: vars.$barRestartBorderRadius;
  border-width: vars.$barRestartBorderWidth;
  border-color: vars.$barRestartBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barRestartBackground);
}

.barShutdownForeground {
  color: vars.$barShutdownForeground;
}

.barShutdownBackground {
  background-color: vars.$barShutdownBackground;
  border-radius: vars.$barShutdownBorderRadius;
  border-width: vars.$barShutdownBorderWidth;
  border-color: vars.$barShutdownBorderColor;
  border-style: solid;
  @include fun.hoverLighten(vars.$barShutdownBackground);
}
