@use "../variables" as vars;

.barWindow {
    background-color: vars.$barBackgroundColor;
    border-radius: vars.$barBorderRadius;
    border-color: vars.$barBorder;
    border-width: vars.$barBorderWidth;
    border-style: solid;
}

.window {
    background-color: vars.$windowBackgroundColor;
    border-radius: vars.$windowBorderRadius;
    border-color: vars.$windowBorder;
    border-width: vars.$windowBorderWidth;
    border-style: solid;
}

.sideBar {
    padding: 2px;
}

.topBar {
    padding: 2px;
}