$theme_bg_color: #1e1e2e;
$theme_fg_color: #ffffff;
$active_bg_color: #1e1e2e;
$button_bg_color: #1e1e2e;
$button_text_color: #545768;
$active_button_text_color: #a6adc8;
$inactive_button_text_color: #555869;
$foreground_text_color: #bac2e0;
$border_color: #1e1e2e;
$padding_small: 2px;
$padding_medium: 7px;
$padding_large: 10px;
$margin_small: 2px;
$margin_medium: 4px;
$margin_large: 6px;
$border_radius_small: 8px;
$border_radius_large: 10px;

window.Bar {
  font-family: "JetBrains Mono";
  background: transparent;
  color: $theme_bg_color;
  font-weight: bold;

  >centerbox {
    background: transparent;
    padding: $padding_small;
    border-radius: $border_radius_large;
    margin: $margin_small 0;
  }

  button {
    border-radius: $border_radius_small;
    margin: 0 $margin_medium;
    background: $button_bg_color;
    padding: $padding_small + 1;
    border: none;
    color: $foreground_text_color;
  }

  .active-workspace,
  .active-workspace-button {
    margin: 0;
    background: $active_bg_color;
    border-style: solid;
    border-color: $border_color;
    color: $active_button_text_color;
    transition: all 0.3s ease-in-out;
  }


  .inactive-workspace,
  .inactive-workspace-button {
    margin: 0;
    color: $inactive_button_text_color;
    transition: all 0.3s ease-in-out;
  }

  .active-client {
    padding: 0 $padding_large;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .workspaces {
    margin: 0 $margin_large;
    background-color: $theme_bg_color;
    border-radius: $border_radius_large;

    button {
      margin: 0 $margin_small;
    }
  }

  .distro-module {
    padding: $padding_medium $padding_large;
    padding-right: 12px; //idk why but my logo is misaligned without it
  }

  .media-module box {
    margin: 0 $margin_large 0 $margin_medium;
  }
}

box.MediaPlayer {
  padding: 0.6rem;
  background-color: $theme_bg_color;

  box.cover-art {
    min-width: 120px;
    min-height: 120px;
    border-radius: 9px;
    margin-right: 0.6rem;
    background-size: contain;
    background-position: center;
  }

  box.title label {
    font-weight: bold;
    font-size: 1.1em;
  }

  scale {
    padding: 0;
    margin: 0.4rem 0;

    trough {
      min-height: 8px;
    }

    highlight {
      background-color: $theme_fg_color;
    }

    slider {
      all: unset;
    }
  }

  centerbox.actions {
    min-width: 220px;

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.4rem;
      margin: 0 0.2rem;
    }
  }
}
