$bgh:       #1a1a1a;
$bg:        #2A2A2A;
$bg1:       #4d4d4d;
$bg2:       #737373;

$fgh:       #e8e7e3;
$fg:        #C9C6BC;
$fg1:       #bbb7aa;
$fg2:       #a49f8e;

$primary: $fg;
$secondary: $fg2;
$border: $fg;

* {
  all: unset;
  font-family: "Patrick Hand";
  color: $fg;
}

separator { background-color: $bg; }

// Widgets
@import "./widgets/floating_window/floating_window.scss";
@import "./widgets/calendar/calendar.scss";
@import "./widgets/notification/styles.scss";

// Windows
@import "./windows/side_bar/styles.scss";
@import "./windows/top_bar/styles.scss";

// TopBar Floating Windows
@import "./windows/network/styles.scss";
@import "./windows/battery/styles.scss";
@import "./windows/notification_popups/styles.scss";
@import "./windows/notification_center/styles.scss";

// SideBar Floating Windows
@import "./windows/app_launcher/styles.scss";
@import "./windows/calendar/calendar.scss";
@import "./windows/wallpapers/styles.scss";
@import "./windows/music_player/styles.scss";
@import "./windows/weather/styles.scss";
@import "./windows/controls/styles.scss";
